.orderDate {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    background-color: #143106;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
  }
  
  .orderDate-day {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .orderDate-year {
    font-size: 0.75rem;
  }
  
  .orderDate-month {
    font-size: 1.2rem;
    font-weight: bold;   
  }